<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <h3 class="text-center">Application Dashboard</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Event Type</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-calendar-week custome-size"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Venue Type</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-map-marker-alt custome-size"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Food Type</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-hamburger custome-size"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Meal Type</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-cheese custome-size"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Dish Type</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-satellite-dish custome-size"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Book Venue</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-map-marked-alt custome-size"></i></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-success mb-3 text-center">
        <div class="card-header">Add Food</div>
        <div class="card-body text-secondary">
          <h2><i class="fas fa-utensils custome-size"></i></h2>
        </div>
      </div>
    </div>
  </div>
</div>